# Configs and keys
.chainlit
ch05/07_gpt_to_llama/config.json
ch07/02_dataset-utilities/config.json
ch07/03_model-evaluation/config.json

# Graphics
appendix-D/01_main-chapter-code/1.pdf
appendix-D/01_main-chapter-code/2.pdf
appendix-D/01_main-chapter-code/3.pdf

appendix-E/01_main-chapter-code/loss-plot.pdf

ch04/04_gqa/kv_bytes_vs_context_length.pdf
ch04/05_mla/kv_bytes_vs_context_length.pdf
ch04/06_swa/kv_bytes_vs_context_length.pdf
ch04/07_moe/ffn_vs_moe.pdf
ch04/08_deltanet/deltanet_memory_plot.pdf

ch05/01_main-chapter-code/loss-plot.pdf
ch05/01_main-chapter-code/temperature-plot.pdf
ch05/01_main-chapter-code/the-verdict.txt

ch06/01_main-chapter-code/loss-plot.pdf
ch06/01_main-chapter-code/accuracy-plot.pdf

ch07/01_main-chapter-code/loss-plot.pdf
ch07/01_main-chapter-code/loss-plot-standalone.pdf
ch07/01_main-chapter-code/loss-plot-baseline.pdf
ch07/01_main-chapter-code/loss-plot-mask-instructions.pdf
ch07/01_main-chapter-code/loss-plot-phi3-prompt.pdf
ch07/01_main-chapter-code/loss-plot-alpaca52k.pdf
ch07/04_preference-tuning-with-dpo/reward margins-plot.pdf

# Checkpoint files
appendix-A/01_main-chapter-code/model.pth

appendix-E/01_main-chapter-code/gpt2

ch05/01_main-chapter-code/gpt2/
ch05/02_alternative_weight_loading/checkpoints
ch05/02_alternative_weight_loading/*.safetensors
ch05/01_main-chapter-code/model.pth
ch05/01_main-chapter-code/model_and_optimizer.pth
ch05/03_bonus_pretraining_on_gutenberg/model_checkpoints
ch05/06_user_interface/gpt2
ch05/07_gpt_to_llama/.cache
ch05/07_gpt_to_llama/Llama-2-7b
ch05/07_gpt_to_llama/Llama-2-7b-chat
ch05/07_gpt_to_llama/Llama-3-8B
ch05/07_gpt_to_llama/Llama-3-8B-Instruct
ch05/07_gpt_to_llama/Llama-3.1-8B
ch05/07_gpt_to_llama/Llama-3.1-8B-Instruct
ch05/07_gpt_to_llama/Llama-3.2-1B
ch05/07_gpt_to_llama/Llama-3.2-1B-Instruct
ch05/07_gpt_to_llama/Llama-3.2-3B
ch05/07_gpt_to_llama/Llama-3.2-3B-Instruct
ch05/07_gpt_to_llama/llama3.2-1B-instruct.pth
ch05/07_gpt_to_llama/tokenizer.model
ch05/10_llm-training-speed/middlemarch.txt
ch05/10_llm-training-speed/loss.pdf
ch05/10_llm-training-speed/model.pth
ch05/11_qwen3/Qwen3-0.6B
ch05/11_qwen3/Qwen3-0.6B-Base
ch05/11_qwen3/Qwen3-1.7B
ch05/11_qwen3/Qwen3-1.7B-Base
ch05/11_qwen3/Qwen3-4B
ch05/11_qwen3/Qwen3-4B-Base
ch05/11_qwen3/Qwen3-8B
ch05/11_qwen3/Qwen3-8B-Base
ch05/11_qwen3/Qwen3-32B
ch05/11_qwen3/Qwen3-32B-Base
ch05/12_gemma3/gemma-3-270M-it
ch05/12_gemma3/gemma-3-270M
ch05/13_olmo3/Olmo-3-1025-7B
ch05/13_olmo3/Olmo-3-1125-32B
ch05/13_olmo3/Olmo-3-7B-Instruct
ch05/13_olmo3/Olmo-3-32B-Instruct
ch05/13_olmo3/Olmo-3-7B-Think
ch05/13_olmo3/Olmo-3-32B-Think
ch05/13_olmo3/Olmo-3-7B-RLZero-IF
ch05/13_olmo3/Olmo-3-32B-RLZero-IF

ch06/01_main-chapter-code/gpt2
ch06/02_bonus_additional-experiments/gpt2
ch06/03_bonus_imdb-classification/gpt2

ch07/01_main-chapter-code/gpt2-medium355M-sft-baseline.pth
ch07/01_main-chapter-code/gpt2-medium355M-sft-mask-instructions.pth
ch07/01_main-chapter-code/gpt2-medium355M-sft-phi3-prompt.pth
ch07/01_main-chapter-code/gpt2-medium355M-sft-alpaca52k.pth
ch07/01_main-chapter-code/gpt2-medium355M-sft-lora.pth
ch07/01_main-chapter-code/gpt2-medium355M-sft.pth
ch07/01_main-chapter-code/gpt2-medium355M-sft-standalone.pth
ch07/01_main-chapter-code/Smalltestmodel-sft-standalone.pth
ch07/01_main-chapter-code/gpt2/

gemma-3-270m/
gemma-3-270m-it/
Qwen3-0.6B-Base/
Qwen3-0.6B/
tokenizer-base.json
tokenizer-reasoning.json
tokenizer.json
config.json
bpe_merges.txt

# Datasets
the-verdict.txt

appendix-E/01_main-chapter-code/sms_spam_collection.zip
appendix-E/01_main-chapter-code/sms_spam_collection
appendix-E/01_main-chapter-code/train.csv
appendix-E/01_main-chapter-code/test.csv
appendix-E/01_main-chapter-code/validation.csv

ch02/01_main-chapter-code/number-data.txt
ch02/05_bpe-from-scratch/the-verdict.txt

ch05/03_bonus_pretraining_on_gutenberg/gutenberg
ch05/03_bonus_pretraining_on_gutenberg/gutenberg_preprocessed

ch06/01_main-chapter-code/sms_spam_collection.zip
ch06/01_main-chapter-code/sms_spam_collection
ch06/01_main-chapter-code/test.csv
ch06/01_main-chapter-code/train.csv
ch06/01_main-chapter-code/validation.csv
ch06/01_main-chapter-code/review_classifier.pth
ch06/02_bonus_additional-experiments/test.csv
ch06/02_bonus_additional-experiments/train.csv
ch06/02_bonus_additional-experiments/validation.csv
ch06/02_bonus_additional-experiments/sms_spam_collection.zip
ch06/02_bonus_additional-experiments/sms_spam_collection
ch06/03_bonus_imdb-classification/aclImdb/
ch06/03_bonus_imdb-classification/aclImdb_v1.tar.gz
ch06/03_bonus_imdb-classification/test.csv
ch06/03_bonus_imdb-classification/train.csv
ch06/03_bonus_imdb-classification/validation.csv

ch07/01_main-chapter-code/instruction-data-with-response-standalone.json
ch07/01_main-chapter-code/instruction-data-with-response-baseline.json
ch07/01_main-chapter-code/instruction-data-with-response-mask-instructions.json
ch07/01_main-chapter-code/loss-plot-lora.pdf
ch07/01_main-chapter-code/instruction-data-with-response-alpaca52k.json
ch07/01_main-chapter-code/instruction-data-with-response-lora.json
ch07/01_main-chapter-code/instruction-data-with-response-phi3-prompt.json
ch07/02_dataset-utilities/instruction-examples-modified.json
ch07/04_preference-tuning-with-dpo/gpt2-medium355M-sft.pth
ch07/04_preference-tuning-with-dpo/loss-plot.pdf

# Tokenizer files
ch02/05_bpe-from-scratch/bpe_merges.txt
ch02/05_bpe-from-scratch/encoder.json
ch02/05_bpe-from-scratch/vocab.bpe
ch02/05_bpe-from-scratch/vocab.json
encoder.json
vocab.bpe
vocab.json

# Other
ch0?/0?_user_interface/.chainlit/
ch0?/0?_user_interface/chainlit.md
ch0?/0?_user_interface/.files
*.lock

# Temporary and OS-related files
chainlit.md
Untitled.ipynb
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.key
solution/

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
.python-version
uv.lock
pixi.lock
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# vscode
.vscode/

# pixi environments
.pixi
*.egg-info


