name: PEP8 Style checks

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  flake8:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
    - name: Install flake8
      run: pip install flake8
    - name: Run flake8 with exceptions
      run: flake8 . --max-line-length=140 --ignore=W504,E402,E731,C406,E741,E722,E226
